<!-- 
<div class="bodyback">
  <div  class="body-home">
    <mat-toolbar  class="toolbar-header">
            <mat-toolbar-row>
              <img src="../assets/prv1.png" alt=""  class="img-loolbar">
              <span>شات بنوتة قلبي : نتمنى لكم اطيب الاوقات</span>
              <span class="example-spacer"></span>
              <button mat-raised-button class="button-tolbar1" (click)="refrech()" ><mat-icon   class="button-tolbar1-icon">cached</mat-icon></button>
            </mat-toolbar-row>
    </mat-toolbar>

<app-header ></app-header> 
<app-menu></app-menu>
<div >
 
  <div class="display1">
    <div class="linkbtn1" > <a  class="linktext" href="">دردشة عراقية</a></div>
    <div class="linkbtn1" > <a class="linktext" href="">دردشة العراق</a></div>
  </div>
  <div class=" display1"> 
    <div class="linkbtn" > تصميم وبرمجه: <a class="linktext" href="">جوال هوست</a> </div>
    <div class="display2-space" >  </div>
    <div> 
    <label  class="linklabel">متصل </label>
  </div>
    
  </div>
 
 
</div>
<mat-toolbar  class="toolbar-header">
        <mat-toolbar-row>
          <span class="example-spacer"></span>
          <button mat-raised-button   class="button-tolbar2"><mat-icon >person</mat-icon>{{count_user_connected}}</button>
          <span>المتواجدين الآن</span>
          <span class="example-spacer"></span>
        
        </mat-toolbar-row>
     </mat-toolbar>
     <app-guest></app-guest>
</div>

</div>

 -->
 <div id="logreg-forms">
	<div id="content">
	<a onclick="location.href='/';" class="label label-primary   fl" style="width:100%;padding:6px;border-radius:0px;text-align: left;"><img src="../../assets/prv1.png?2" class="fl" style="margin-right: 2px; width:28px;">شات بنوتة قلبي : نتمنى لكم اطيب الاوقات<button class="btn fr btn-success fa fa-refresh" style="margin:0px;margin-top:-2px;" aria-hidden="true"></button></a>

<img src="../../assets/z1df1skkm110.gif" class="fr nomargin" style="width:100%;margin-right: 2px;">	
<a id="des3" href="app.html" style="border-radius: 24px;width:23%;margin:2px;" class="fl mini  fab  fa-facebook-f
 btn btn-primary" aria-hidden="true"> بنوتة قلبي</a>
 <a id="des3" href="toop.html" style="border-radius: 24px;width:23%;margin:2px;margin: 2px;
    color: black;border-color:gray;" class="fl mini  fa   fa-star
 btn btn-default" aria-hidden="true"> ميز نفسك</a>
 <a id="des3" href="https://www.iraqiachat.com/rules.html" style="border-radius: 24px;width:27%;margin:2px;" class="fl mini  fa fa-graduation-cap
btn btn-primary" aria-hidden="true">سياسة الاستخدام</a>
<a id="des3" href="mmm.html" style="border-radius: 24px;width:22%;margin:2px;margin: 2px;
    color: black;border-color:gray;" class="fl mini  fa fa-phone
btn btn-default" aria-hidden="true"> اتصل بنا</a>
<div style=" width: 100%;font-size: 17px; " class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">تحميل التطبيق . او اتصال بالاداره اضغط هنا</div>

<app-menu></app-menu>

<div style="background: white;
    width: 100%;
    height: 30px;">
	   <label class="fl label loginstat label-success" style="border-radius: 1px;margin-left: 2px;">متصل</label>
	   <div class="fr borderg" style="padding:2px;background-color:white;margin-right:4px;"><a href="">دردشة عراقية</a></div>
	   <div class="fr borderg" style="padding:2px;background-color:white;margin-right:4px;"><a href="">دردشة عراقية</a></div>
	   <div class="fr borderg" style="padding:2px;background-color:white;margin-right:4px;"><a href="">دردشة عراقية</a></div>
	   </div>
	 
          <label title="المتواجدين الآن" class="label label-primary mini fl" style="width:100%;border-radius:0px;"><span class="s1 fa fa-user label badgex   label-as-badge label-success" aria-hidden="true">{{count_user_connected}}</span>المتواجدين الآن</label>  
      </div>
      <div class="ex3" style="height: 417.35px;">
        
        <app-guest></app-guest>
      </div>
  </div>
 