


  <div class="divTableRow">
        <div class="divTableCell">
        <img mat-image  class="image-header1" src="../../assets/z1d7prg6rk10.jpeg" alt="">
        </div>
 
            <div class="divTableCell">

              <div  class="flex">
                <button mat-raised-button class="button-header" color="primary"><mat-icon class="icon-header">star</mat-icon>الإشتراكات</button>
                <button mat-raised-button class="button-header" color="accent"><mat-icon class="icon-header">favorite</mat-icon>سياسة الاستخدام</button>
                <button mat-raised-button class="button-header" color="warn"><mat-icon class="icon-header">star</mat-icon>اتصل بنا</button>
              </div>
                <div  class="flex">
                  <button mat-raised-button class="button-header" color="primary"><mat-icon class="icon-header">star</mat-icon>بنوتة قلبي</button>
                  <button mat-raised-button class="button-header" color="accent"><mat-icon class="icon-header">favorite</mat-icon>ميز نفسك</button>
                  <button mat-raised-button class="button-header" color="warn"><mat-icon class="icon-header">star</mat-icon>حمل التطبيق</button>
                </div>
          

            </div>
 
        <div class="divTableCell">
        <img mat-image  class="image-header2" src="../../assets/z1d821612710.jpg" alt="Photo of a Shiba Inu">
        </div>
    </div>

