 <!-- <div class="content-guest-user" >

  <div class="content-guest-box" *ngFor="let g of guests; let i =index;"> 

    <div  class="div-box-img" >
        <img src="../../assets/z1d7prg6rk10.jpeg" alt="" class="box-img1"  >
    </div>
      <div class="content-guest-box-content">
             
             <div class="content-guest-box-content-top"> <img src="../../assets/imgg/z1crbn8ci410.gif" alt="" class="pack-user"  >{{g.username}} </div>
        <div  class="content-guest-box-content-bottom"> 
            <span> {{g.username}} {{g.username}} {{g.username}} {{g.username}} nnnnnnn</span>
        </div>
      </div>
      <div  class="div-flag" >  
          <img src="../../assets/imgg/sa.gif" alt=""   class="flag"  >
      </div>
     
  </div>
 
</div>          -->
      <div class="hand nosel fl uzr border"  *ngFor="let g of guests; let i =index;"
      style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;">
      
        <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(../../assets/1df9rmm5i10.jpeg.jpg);" class="fitimg fl u-pic ">
        <label class="fl muted fa" style="color:indianred;" aria-hidden="true">&nbsp;</label>
        <img alt="" class="fr co" style="width:16px;border-radius:1px;" src="../../assets/imgg/sa.gif">
        <div style="width:72%;" class="fl">
          <div style="width:100%;margin-top:-2px;" class="fl">
            <img class="fl u-ico" alt="" src="">
            <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(143, 143, 143);" class="corner u-topic dots"> {{g.username}}مــہٰٰ۫ـــاهر</span></div>
          </div>
          <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">{{g.username}} {{g.username}} {{g.username}} ،ولكن بهدوء قاتل جدأ !..</div>
        </div>
      </div>	
  