<!-- 
 <div class="content-mure">
  
  <div class="content-mure-box">
    <div>
        <img src="../../assets/z1d7prg6rk10.jpeg" alt=""  class="content-mure-box-img" >
    </div>
    
    <div class="content-mure-box-content">
      <div><img src="../../assets/imgg/z1crbn8ci410.gif" alt="" class="pack-user"  >eeeeeeeeeeeeee  </div>
      <div  class="content-mure-box-content-bottom">
           <span> هذا المستخدم قد دخلddddddddddddddddddddd</span>
      </div>
    </div>
    <div class="content-mure-box-content-left" >
      <span class="span-content-mure-box-content-left"> 0د</span>
      <button mat-raised-button   class="button-content-mure-box-content-left"><span class="span-button-content-mure-box-content-left">1</span><mat-icon class="icon-content-mure-box-content-left" >favorite</mat-icon> </button>
   
    </div>

  
  </div>

 </div> -->
 <div id="users" style="height: 100%;width:100%; margin-top: 13px;" class="light break tab-pane active support">
    <input type="search" id="usearch" placeholder=".. البحث" class="tbox bg border" style="width:100%;padding-left:5px;">
    <label style="width: 100%; padding: 4px; border: none; border-radius: 0px; margin: -1px 0px 0px !important;" class="nosel inr   fl uzr label label-primary">المتواجدين في الغرفه</label>
   
   
    <div class="hand nosel fl uzr border uid16c0eb8422fxbab2ed42-x-akhwdp inroom" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="10">
        <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="../../assets/s0.png">
        <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(../../assets/1df9rmm5i10.jpeg.jpg);" class="fitimg fl u-pic ">
        <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
        <img alt="" class="fr co" style="width:16px;border-radius:1px;" src="../../assets/imgg/iq.gif">
        <div style="width:72%;" class="fl">
          <div style="width:100%;margin-top:-2px;" class="fl">
            <img class="fl u-ico" alt="" src="../../assets/imgg/z1crbn8ci410.gif">
            <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(43, 34, 34); color: rgb(99, 105, 255);" class="corner u-topic dots">آسًےـد🎶 آلَمِےـشّےـآغّےـبّےـ 🎶</span></div>
          </div>
          <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">فأنـِِتًِ ألــحَّنـأنـُ وُأنـِِتًِ ألـأمـأنـُ 🎶ـحّمـد🎶                                            </div>
        </div>
      </div>
    <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
          <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
          <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
          <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
          
          <div style="width:72%;" class="fl">
            <div style="width:100%;margin-top:-2px;" class="fl">
              <img class="fl u-ico" alt="">
              <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
            </div>
            <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
          </div>
      </div>
    <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
            <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
            <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
            <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
            
            <div style="width:72%;" class="fl">
              <div style="width:100%;margin-top:-2px;" class="fl">
                <img class="fl u-ico" alt="">
                <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
              </div>
              <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
            </div>
       </div>
       <div class="hand nosel fl uzr border uid16c0eb8422fxbab2ed42-x-akhwdp inroom" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="10">
          <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s0.png?2">
          <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg3dgk0k10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
          <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
          <img alt="" class="fr co" style="width:16px;border-radius:1px;" src="flag/iq.gif">
          <div style="width:72%;" class="fl">
            <div style="width:100%;margin-top:-2px;" class="fl">
              <img class="fl u-ico" alt="" src="dro3/z1d4pn2iia10.gif">
              <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(43, 34, 34); color: rgb(99, 105, 255);" class="corner u-topic dots">آسًےـد🎶 آلَمِےـشّےـآغّےـبّےـ 🎶</span></div>
            </div>
            <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">فأنـِِتًِ ألــحَّنـأنـُ وُأنـِِتًِ ألـأمـأنـُ 🎶ـحّمـد🎶                                            </div>
          </div>
        </div>
      <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
            <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
            <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
            <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
            
            <div style="width:72%;" class="fl">
              <div style="width:100%;margin-top:-2px;" class="fl">
                <img class="fl u-ico" alt="">
                <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
              </div>
              <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
            </div>
        </div>
      <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
              <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
              <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
              <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
              
              <div style="width:72%;" class="fl">
                <div style="width:100%;margin-top:-2px;" class="fl">
                  <img class="fl u-ico" alt="">
                  <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
                </div>
                <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
              </div>
         </div>
         <div class="hand nosel fl uzr border uid16c0eb8422fxbab2ed42-x-akhwdp inroom" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="10">
            <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s0.png?2">
            <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg3dgk0k10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
            <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
            <img alt="" class="fr co" style="width:16px;border-radius:1px;" src="flag/iq.gif">
            <div style="width:72%;" class="fl">
              <div style="width:100%;margin-top:-2px;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1d4pn2iia10.gif">
                <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(43, 34, 34); color: rgb(99, 105, 255);" class="corner u-topic dots">آسًےـد🎶 آلَمِےـشّےـآغّےـبّےـ 🎶</span></div>
              </div>
              <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">فأنـِِتًِ ألــحَّنـأنـُ وُأنـِِتًِ ألـأمـأنـُ 🎶ـحّمـد🎶                                            </div>
            </div>
          </div>
        <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
              <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
              <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
              <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
              
              <div style="width:72%;" class="fl">
                <div style="width:100%;margin-top:-2px;" class="fl">
                  <img class="fl u-ico" alt="">
                  <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
                </div>
                <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
              </div>
          </div>
        <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
                <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
                <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
                <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
                
                <div style="width:72%;" class="fl">
                  <div style="width:100%;margin-top:-2px;" class="fl">
                    <img class="fl u-ico" alt="">
                    <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
                  </div>
                  <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
                </div>
           </div>

           <div class="hand nosel fl uzr border uid16c0eb8422fxbab2ed42-x-akhwdp inroom" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="10">
              <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s0.png?2">
              <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg3dgk0k10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
              <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
              <img alt="" class="fr co" style="width:16px;border-radius:1px;" src="flag/iq.gif">
              <div style="width:72%;" class="fl">
                <div style="width:100%;margin-top:-2px;" class="fl">
                  <img class="fl u-ico" alt="" src="dro3/z1d4pn2iia10.gif">
                  <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(43, 34, 34); color: rgb(99, 105, 255);" class="corner u-topic dots">آسًےـد🎶 آلَمِےـشّےـآغّےـبّےـ 🎶</span></div>
                </div>
                <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">فأنـِِتًِ ألــحَّنـأنـُ وُأنـِِتًِ ألـأمـأنـُ 🎶ـحّمـد🎶                                            </div>
              </div>
            </div>
          <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
                <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
                <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
                <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
                
                <div style="width:72%;" class="fl">
                  <div style="width:100%;margin-top:-2px;" class="fl">
                    <img class="fl u-ico" alt="">
                    <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
                  </div>
                  <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
                </div>
            </div>
          <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
                  <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
                  <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
                  <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
                  
                  <div style="width:72%;" class="fl">
                    <div style="width:100%;margin-top:-2px;" class="fl">
                      <img class="fl u-ico" alt="">
                      <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
                    </div>
                    <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
                  </div>
             </div>

             <div class="hand nosel fl uzr border uid16c0eb8422fxbab2ed42-x-akhwdp inroom" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="10">
                <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s0.png?2">
                <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg3dgk0k10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
                <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
                <img alt="" class="fr co" style="width:16px;border-radius:1px;" src="flag/iq.gif">
                <div style="width:72%;" class="fl">
                  <div style="width:100%;margin-top:-2px;" class="fl">
                    <img class="fl u-ico" alt="" src="dro3/z1d4pn2iia10.gif">
                    <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(43, 34, 34); color: rgb(99, 105, 255);" class="corner u-topic dots">آسًےـد🎶 آلَمِےـشّےـآغّےـبّےـ 🎶</span></div>
                  </div>
                  <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">فأنـِِتًِ ألــحَّنـأنـُ وُأنـِِتًِ ألـأمـأنـُ 🎶ـحّمـد🎶                                            </div>
                </div>
              </div>
            <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
                  <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
                  <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
                  <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
                  
                  <div style="width:72%;" class="fl">
                    <div style="width:100%;margin-top:-2px;" class="fl">
                      <img class="fl u-ico" alt="">
                      <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
                    </div>
                    <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
                  </div>
              </div>
            <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
                    <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
                    <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
                    <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
                    
                    <div style="width:72%;" class="fl">
                      <div style="width:100%;margin-top:-2px;" class="fl">
                        <img class="fl u-ico" alt="">
                        <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
                      </div>
                      <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
                    </div>
               </div>

               <div class="hand nosel fl uzr border uid16c0eb8422fxbab2ed42-x-akhwdp inroom" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="10">
                  <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s0.png?2">
                  <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg3dgk0k10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
                  <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
                  <img alt="" class="fr co" style="width:16px;border-radius:1px;" src="flag/iq.gif">
                  <div style="width:72%;" class="fl">
                    <div style="width:100%;margin-top:-2px;" class="fl">
                      <img class="fl u-ico" alt="" src="dro3/z1d4pn2iia10.gif">
                      <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(43, 34, 34); color: rgb(99, 105, 255);" class="corner u-topic dots">آسًےـد🎶 آلَمِےـشّےـآغّےـبّےـ 🎶</span></div>
                    </div>
                    <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">فأنـِِتًِ ألــحَّنـأنـُ وُأنـِِتًِ ألـأمـأنـُ 🎶ـحّمـد🎶                                            </div>
                  </div>
                </div>
              <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
                    <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
                    <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
                    <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
                    
                    <div style="width:72%;" class="fl">
                      <div style="width:100%;margin-top:-2px;" class="fl">
                        <img class="fl u-ico" alt="">
                        <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
                      </div>
                      <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
                    </div>
                </div>
              <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
                      <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
                      <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
                      <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
                      
                      <div style="width:72%;" class="fl">
                        <div style="width:100%;margin-top:-2px;" class="fl">
                          <img class="fl u-ico" alt="">
                          <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
                        </div>
                        <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
                      </div>
                 </div>

                 <div class="hand nosel fl uzr border uid16c0eb8422fxbab2ed42-x-akhwdp inroom" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="10">
                    <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s0.png?2">
                    <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg3dgk0k10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
                    <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
                    <img alt="" class="fr co" style="width:16px;border-radius:1px;" src="flag/iq.gif">
                    <div style="width:72%;" class="fl">
                      <div style="width:100%;margin-top:-2px;" class="fl">
                        <img class="fl u-ico" alt="" src="dro3/z1d4pn2iia10.gif">
                        <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(43, 34, 34); color: rgb(99, 105, 255);" class="corner u-topic dots">آسًےـد🎶 آلَمِےـشّےـآغّےـبّےـ 🎶</span></div>
                      </div>
                      <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">فأنـِِتًِ ألــحَّنـأنـُ وُأنـِِتًِ ألـأمـأنـُ 🎶ـحّمـد🎶                                            </div>
                    </div>
                  </div>
                <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
                      <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
                      <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
                      <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
                      
                      <div style="width:72%;" class="fl">
                        <div style="width:100%;margin-top:-2px;" class="fl">
                          <img class="fl u-ico" alt="">
                          <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
                        </div>
                        <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
                      </div>
                  </div>
                <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
                        <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
                        <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
                        <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
                        
                        <div style="width:72%;" class="fl">
                          <div style="width:100%;margin-top:-2px;" class="fl">
                            <img class="fl u-ico" alt="">
                            <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
                          </div>
                          <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
                        </div>
                   </div>
                   <div class="hand nosel fl uzr border uid16c0eb8422fxbab2ed42-x-akhwdp inroom" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="10">
                      <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s0.png?2">
                      <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg3dgk0k10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
                      <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
                      <img alt="" class="fr co" style="width:16px;border-radius:1px;" src="flag/iq.gif">
                      <div style="width:72%;" class="fl">
                        <div style="width:100%;margin-top:-2px;" class="fl">
                          <img class="fl u-ico" alt="" src="dro3/z1d4pn2iia10.gif">
                          <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(43, 34, 34); color: rgb(99, 105, 255);" class="corner u-topic dots">آسًےـد🎶 آلَمِےـشّےـآغّےـبّےـ 🎶</span></div>
                        </div>
                        <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">فأنـِِتًِ ألــحَّنـأنـُ وُأنـِِتًِ ألـأمـأنـُ 🎶ـحّمـد🎶                                            </div>
                      </div>
                    </div>
                  <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
                        <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
                        <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
                        <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
                        
                        <div style="width:72%;" class="fl">
                          <div style="width:100%;margin-top:-2px;" class="fl">
                            <img class="fl u-ico" alt="">
                            <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
                          </div>
                          <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
                        </div>
                    </div>
                  <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
                          <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
                          <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
                          <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
                          
                          <div style="width:72%;" class="fl">
                            <div style="width:100%;margin-top:-2px;" class="fl">
                              <img class="fl u-ico" alt="">
                              <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
                            </div>
                            <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
                          </div>
                     </div>
                     <div class="hand nosel fl uzr border uid16c0eb8422fxbab2ed42-x-akhwdp inroom" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="10">
                        <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s0.png?2">
                        <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg3dgk0k10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
                        <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
                        <img alt="" class="fr co" style="width:16px;border-radius:1px;" src="flag/iq.gif">
                        <div style="width:72%;" class="fl">
                          <div style="width:100%;margin-top:-2px;" class="fl">
                            <img class="fl u-ico" alt="" src="dro3/z1d4pn2iia10.gif">
                            <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(43, 34, 34); color: rgb(99, 105, 255);" class="corner u-topic dots">آسًےـد🎶 آلَمِےـشّےـآغّےـبّےـ 🎶</span></div>
                          </div>
                          <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">فأنـِِتًِ ألــحَّنـأنـُ وُأنـِِتًِ ألـأمـأنـُ 🎶ـحّمـد🎶                                            </div>
                        </div>
                      </div>
                    <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
                          <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
                          <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
                          <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
                          
                          <div style="width:72%;" class="fl">
                            <div style="width:100%;margin-top:-2px;" class="fl">
                              <img class="fl u-ico" alt="">
                              <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
                            </div>
                            <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
                          </div>
                      </div>
                    <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
                            <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
                            <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
                            <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
                            
                            <div style="width:72%;" class="fl">
                              <div style="width:100%;margin-top:-2px;" class="fl">
                                <img class="fl u-ico" alt="">
                                <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
                              </div>
                              <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
                            </div>
                       </div>
                 <div class="hand nosel fl uzr border uid16c0eb8422fxbab2ed42-x-akhwdp inroom" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="10">
        <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s0.png?2">
        <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg3dgk0k10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
        <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
        <img alt="" class="fr co" style="width:16px;border-radius:1px;" src="flag/iq.gif">
        <div style="width:72%;" class="fl">
          <div style="width:100%;margin-top:-2px;" class="fl">
            <img class="fl u-ico" alt="" src="dro3/z1d4pn2iia10.gif">
            <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(43, 34, 34); color: rgb(99, 105, 255);" class="corner u-topic dots">آسًےـد🎶 آلَمِےـشّےـآغّےـبّےـ 🎶</span></div>
          </div>
          <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">فأنـِِتًِ ألــحَّنـأنـُ وُأنـِِتًِ ألـأمـأنـُ 🎶ـحّمـد🎶                                            </div>
        </div>
      </div>
    <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
          <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
          <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
          <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
          
          <div style="width:72%;" class="fl">
            <div style="width:100%;margin-top:-2px;" class="fl">
              <img class="fl u-ico" alt="">
              <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
            </div>
            <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
          </div>
      </div>
    <div class="hand nosel fl uzr border uid16c0e7ac2eexef1d001xddyn1g" style="text-align:left;background-color:white;border-radius:0px!important;width:99%;margin: 0px 1px -1px 2px!important;padding:1px;" v="0">
            <img class="fl ustat" style="width: 12px; height: 12px; margin-left: 0px; border-radius: 12px; position: static; margin-top: 10px;" src="imgs/s2.png?2">
            <img style="width: 36px; height: 36px; margin-left: 1px; background-image: url(&quot;pic/1dg7892fe10.jpg.jpg&quot;);" class="fitimg fl u-pic ">
            <label class="fl muted fa" style="color:indianred;">&nbsp;</label>
            
            <div style="width:72%;" class="fl">
              <div style="width:100%;margin-top:-2px;" class="fl">
                <img class="fl u-ico" alt="">
                <div class="fl" style="width:82%;"><span style="margin-top: 1px; padding: 0px 8px; max-width: 100%; border-radius: 3px; background-color: rgb(255, 255, 255); color: rgb(130, 18, 41);" class="corner u-topic dots">عقاب</span></div>
              </div>
              <div style="width:100%;color:#888;margin-top:-8px;" class="fl mini u-msg">كان نفسي اكون من الناس الي بتسمع الكلام وتسكت بس انا للأسف لو مارديتش ممكن اتشل</div>
            </div>
       </div>
 </div>