<!-- 
 <div class="content-mure">
  
  <div class="content-mure-box">
    <div>
        <img src="../../assets/z1d7prg6rk10.jpeg" alt=""  class="content-mure-box-img" >
    </div>
    
    <div class="content-mure-box-content">
      <div><img src="../../assets/imgg/z1crbn8ci410.gif" alt="" class="pack-user"  > هذا المستخدم قد دخل  </div>
      <div  class="content-mure-box-content-bottom">
           <span> هذا المستخدم قد دخل</span>
      </div>
    </div>
    <div class="content-mure-box-content-left" >
      <span class="span-content-mure-box-content-left"> 0د</span>
      <button mat-raised-button   class="button-content-mure-box-content-left"><span class="span-button-content-mure-box-content-left">9</span><mat-icon class="icon-content-mure-box-content-left" >favorite</mat-icon> </button>
   
    </div>

  
  </div>

 </div> -->

 <div id="wall" style="height: 100%; width: 100%; margin-top: 13px;" class="break tab-pane border active">  
    <div id="d2" class="d2 light fl  d2bc filh break support " style="width: 100%; height: 845px;" >
      
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
        <div class="uzr fl corner borderg mm bid16c0e97bd7bxe99dc706xn32r92" style="border-radius:5px;margin-bottom:-2px;width:99.5%;padding:0px; background-color:white;">
            <img style="width: 36px; height: 38px; margin-left: 1px; margin-top: 1px; background-image: url(&quot;pic/1dg71ndpm10.png.jpg&quot;);" class="fl fitimg hand u-pic    ">
            <span style="margin-top:2px;padding:0px 2px;margin-left:-20px;margin-right:4px;color:grey" class="fr minix tago">الآن</span>
            <div class="uzr fl" style="padding:0px;width:80%">
              <div style="padding:0px;width:100%;" class="fl">
                <img class="fl u-ico" alt="" src="dro3/z1cs8511ih10.gif">
                <span style="padding: 1px 8px; margin-top: 2px; display: block; max-width: 82%; border-radius: 3px; color: rgb(66, 66, 66); background-color: rgb(255, 255, 255);" class="corner nosel u-topic dots fl hand">　　⊱حـِۨـِـِۙـِـِۨـِۙـِـِۨـِۙـِـِۨــِۙـِواء⊰</span>
              </div>
              <br>
              <div style="padding: 0px; width: 100%; color: rgb(255, 74, 86);" class=" u-msg   break  fl">- إصنع لنفسك مهربًا من تُعس هذا العالم، تناول المزيد والمزيد من الكُتب&nbsp;</div>
            </div>
          <a  style="margin-top:-20px;margin-left:6px;padding:4px;" class="btn minix btn-danger fa fa-heart fr">&nbsp;</a>
        </div>
    </div>
      

      <div class="tablebox fl light" style="width:100%;padding:4px; position: sticky;bottom: 0;">
            <button onclick="sendbc(true);" style="margin-left:2px; margin-right:3px;margin-top:2px;" class="fr fa fa-share-alt sndfilebc fl btn btn-primary"></button>
            <img tabindex="0" role="button" data-toggle="popover" data-trigger="focus" class="fl emobc" style="padding:5px;width:34px;" src="../../assets/imgg/emoii.gif" data-original-title="" title="">
            <textarea placeholder="اكتب رسالتك هنا" class="fl tbox corner tboxbc filw" style="width: 144px;"></textarea>
            <button onclick="sendbc();" style=" margin-top:2px;margin-left:2px;" class="fa fa-send sndbc fl btn btn-primary">إرسال</button>
      </div>
 </div>
 

